#container{
    text-align: center;
    margin: 10px;
    background-color: #FFD700;
    border: 10px, solid #9f8700a5;
    border-radius: 5px;
}

#add1{

}

header{

}

#add2{


}

#descri{

}

main {

}

foote r{

}
